/*
 * (C) Copyright IBM Corp. 2021- 2023.
* https://opensource.org/licenses/BSD-3-Clause
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

td {
  vertical-align: top;
  word-wrap: break-word;
}

.highlight .o {
  color: white;
}
.highlight .nn {
  color: #8bc8ef;
}
.highlight .kn{
color: #8bc8ef;
}
.highlight .s2 {
color: white;
}
.highlight .s1 {
color: white;
}
.highlight .nv {
 color: #8bc8ef;
}
.highlight .go {
 color: white;
}
.highlight .k {
 color: #8bc8ef;
}
.highlight .nf {
 color: #8bc8ef;
}
.highlight .gp {
 color: #8bc8ef;
}
.highlight .sd{
 color: #8bc8ef;
}
.highlight .bp{
 color: #9ed865;
}
.highlight .c1{
 color: #9ed865;
}
.highlight .kc{
 color: #9ed865;
}
.highlight .ow{
 color: #9ed865;
}

.highlight .nb{
 color: #9ed865;
}
.highlight .mi{
 color: #9ed865;
}

div.note{
background: #8de0bc;
}

div.rst-content span{
line-height:2;
}




